@import './feed-shared.css';
@import './base.css';
@import './prism.css';

.feed body,
.micro body,
.home body {
  background-color: var(--feed-bg-color);
}

.feed .content-box {
  margin-left: 40px;
}

h1.site-title {
  margin-bottom: 0.5em;
  line-height: 1.25em;
}

p.site-description {
  margin-top: 0;
}

.hidden {
  display: none;
}

/* Entry ------------------------------------------------------------- */
.entry {
  position: relative;
  width: 100%;
  padding: 1em 1em 0.5em 1em;
  background-color: var(--card-bg-color);
  box-shadow: var(--shadow-1);
  margin-top: 3em;
}

/* Micro entries don't have tabs, so smaller margin */
.micro .entry {
  margin-top: 1em;
}

.standalone .entry {
  margin-top: 0;
}

.entry .break {
  word-break: break-all;
}

/* Header ------------------------------------------------------------ */
.entry header {
  position: relative;
}

.post-icon {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: -2.5em;
  left: -1em;
  width: unset;
  height: unset;
  padding: 0.1em 0.5em 0 0.5em;
  color: var(--timestamp-color);
  background-color: var(--card-bg-color);
  box-shadow: var(--shadow-1);
  z-index: -1;
  border-top: 1px solid rgba(0, 0, 0, 0.05);
}

.post-icon a {
  line-height: 0;
}

.post-icon svg {
  width: 1em;
}

.entry header .description {
  font-size: 0.7em;
  font-style: italic;
  margin-left: 0.5em;
}

/* Content ------------------------------------------------------------ */
.entry h2 {
  margin-bottom: 1em;
}

.entry .content > p {
  margin-top: 0;
}

.entry .content > .media-wrapper {
  margin-top: 1em;
}

.entry .content code,
.entry .content kbd,
.entry .content samp {
  font-size: 1rem;
}

/* Media */
.entry .content .media-wrapper {
  max-width: 40rem;
}

.entry .content .media-wrapper img,
.entry .content .media-wrapper video {
  display: block;
  width: 100%;
}

.entry .content .media-wrapper.full-width {
  max-width: 60rem;
}

.entry .content .media-wrapper.vertical {
  max-height: 40rem;
}

.entry .content .media-wrapper.bordered {
  border: 1px solid var(--image-border-color);
}

.entry .content .media-wrapper.backgrounded {
  background: var(--note-background-color);
  padding: 1em;
}

.entry .content .media-wrapper {
  margin-bottom: 1em;
}

.entry .content .media-wrapper + .media-wrapper {
  margin-bottom: 0;
}

/* Gallery */
figure {
  margin-block: unset;
  margin-inline: unset;
}

.entry .content .media-wrapper.media-wrapper-gallery {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-flow: dense;
  gap: 0.1em;
  max-width: unset;
}

.entry .content .media-wrapper-gallery .media-wrapper {
  margin: 0;
}

.entry .content .media-wrapper-gallery .media-wrapper img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.entry .content .media-wrapper-gallery .media-wrapper {
  aspect-ratio: 1 / 1;
  overflow: hidden;
}

/* Reading list */
.entry .byline,
.entry .details {
  font-size: 0.7em;
  color: var(--timestamp-color);
}

.entry blockquote {
  position: relative;
  font-size: 0.8em;
  line-height: 1.25em;
  z-index: 1;
}

.entry blockquote:before {
  color: var(--color-blockquote-decorative-quote);
  content: '\201C';
  font-family: 'Times New Roman';
  font-size: 5rem;
  font-weight: 700;
  left: -0.25em;
  top: 0.08em;
  position: absolute;
  z-index: -1;
}

.entry .quote {
  margin-bottom: 1em;
}

.entry .quote blockquote:has(+ cite) {
  margin-bottom: 0;
}

.entry .quote cite {
  font-size: 0.8em;
  margin-left: 3em;
}

.related-post {
  padding-left: 0.5em;
  border-left: 3px solid var(--hr-color);
}

.cdx-social-link {
  padding: 0 0.025em;
}

.cdx-mention-social-group {
  margin-left: 0.05em;
  white-space: nowrap;
}

.cdx-mention-social-group::before {
  content: '(';
  font-size: 0.8em;
  vertical-align: top;
}

.cdx-mention-social-group::after {
  content: ')';
  font-size: 0.8em;
  vertical-align: top;
}

.cdx-social-link .cdx-mention-icon {
  width: 10px;
  height: unset;
}

.cdx-social-link.wikipedia .cdx-mention-icon {
  width: 14px;
}

/* Footer ------------------------------------------------------------ */
.entry .footer {
  font-size: 0.7em;
  border-top: 1px solid var(--hr-color);
  margin-top: 1em;
}

.entry .footer .flex-row {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 0.5em;
}

.entry .footer .post-meta {
  color: var(--timestamp-color);
}

.entry .footer .post-meta a:hover {
  color: var(--timestamp-color-hover);
}

.post-meta * {
  line-height: 1.2em;
}

.edit-icon {
  background: none;
  width: 12px;
  height: 12px;
  margin-left: 0.2em;
}

/* Social links */
.footer .social-links {
  display: flex;
  position: relative;
  flex-shrink: 0;
  align-items: center;
  margin-left: 0.5em;
}

.social-link {
  position: relative;
  top: 2px;
}

.social-link,
.social-link:hover {
  background: none;
}

.social-link svg {
  height: 14px;
}

.social-link:not(:first-child) {
  margin-left: 0.3em;
}

/* Tags */
.footer .tags {
  display: flex;
  flex-wrap: wrap;
  line-height: 1em;
  margin-top: 1em;
}

.entry .tag {
  color: inherit;
  padding: 0.1em 0.2em;
  background-color: var(--tag-background-color);
  font-style: italic;
  margin-bottom: 0.5em;
  text-decoration: none;
}

.entry .tag::before {
  content: '#\2009';
}

.entry .tag:hover {
  color: var(--main-text-color);
  background-color: var(--button-color-hover);
}

.entry .tag:not(:last-child) {
  margin-right: 0.5em;
}

/* Paginator --------------------------------------------------------------------- */
label[for='paginator'] {
  display: block;
  margin-top: 1em;
}

#paginator {
  outline: 0;
  border: 0;
  padding: 0 !important;
}

#paginator button {
  background-color: transparent;
  font-size: 1rem;
  color: var(--main-text-color);
  border: none;
}

#paginator button:hover,
#paginator button:focus,
#paginator button:active {
  cursor: pointer;
  background-color: var(--accent-color-purple-background-hover);
}

#paginator button[aria-pressed] {
  background-color: var(--accent-color-purple-background);
}

/* Dark mode --------------------------------------------------------------------- */
@media (prefers-color-scheme: dark) {
  .entry .content .media-wrapper.invert-on-dark img {
    filter: invert(0.85);
  }

  .tag {
    color: var(--timestamp-color);
    background-color: transparent;
  }

  .tag:hover {
    color: var(--timestamp-color-hover);
    background-color: transparent;
  }
}

[data-theme='dark'] .tag {
  color: var(--timestamp-color);
  background-color: transparent;
}
[data-theme='dark'] .tag:hover {
  color: var(--timestamp-color-hover);
  background-color: transparent;
}
[data-theme='dark'] .entry .content .media-wrapper.invert-on-dark img {
  filter: invert(0.85);
}

/* Mobile --------------------------------------------------------------------- */
@media screen and (max-width: 768px) {
  h1.site-title {
    margin-top: 0.5em;
    text-align: center;
  }

  .feed .content-box {
    margin-left: 0;
  }

  .feed main {
    padding: 0 0.2em;
  }

  .feed .entry {
    margin-top: 2em;
  }

  .feed.micro .entry {
    margin-top: 1em;
  }

  .entry blockquote {
    margin-inline-start: 30px;
    margin-inline-end: 20px;
  }
}
