@import './feed-shared.css';

.content-box {
  margin-left: 40px;
}

h1.site-title {
  margin-bottom: 1em;
}

/* Entry */
.entry {
  width: 100%;
}

.entry:not(:last-child) {
  border-bottom: 1px solid var(--hr-color);
  padding-bottom: 20px;
  margin-bottom: 40px;
}

/* Header */
.entry header {
  position: relative;
}

.entry section.post-meta {
  color: var(--timestamp-color);
  font-size: 0.8em;
}

.post-icon {
  position: absolute;
  left: -30px;
  top: 2px;
}

.edit-icon {
  width: 15px;
  height: 15px;
  background: none;
  margin-left: 0.2em;
}

/* Content */
.entry .p-content p:first-child {
  margin-top: 0;
}

.entry .p-content img,
.entry .p-content video {
  max-width: 40rem;
}

.entry .p-content img.full-width,
.entry .p-content video.full-width {
  max-width: 80rem;
}

.entry .p-content img.vertical,
.entry .p-content video.vertical {
  max-height: 40rem;
}

.entry .p-content img.bordered,
.entry .p-content video.bordered {
  border: 1px solid var(--table-border-color) !important;
  padding: 1rem;
}

.entry .p-content img.backgrounded,
.entry .p-content video.backgrounded {
  background: var(--note-background-color);
  padding: 1rem;
}

/* Footer */
.tag {
  font-size: 0.7em;
  padding: 0.1em 0.2em;
  background-color: var(--button-color);
  font-style: italic;
  background-image: none;
  text-shadow: none;
}

.tag::before {
  content: '#';
  margin-right: 0.1em;
}

.tag:hover {
  color: var(--main-text-color);
  background-color: var(--button-color-hover);
  background-image: none;
}

.tag:not(:last-child) {
  margin-right: 0.5em;
}
