@import './feed-shared.css';
@import './base.css';
@import 'tom-select/dist/css/tom-select.bootstrap4.css';

.editor-container {
  padding-top: 5rem;
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
}

.content-container {
  max-width: 650px;
  margin: 0 auto;
}

.social-container {
  padding-bottom: 70px; /* Space for footer */
}

.align-right {
  text-align: right;
}

/* Editor */
.ce-block__content {
  background-color: var(--card-bg-color);
}

/* Input fields */
.input-group {
  margin-bottom: 1rem;
}

label {
  display: block;
}

input {
  background-color: var(--card-bg-color);
}

input#title,
input#slug,
input#related {
  border: none;
  width: 100%;
}

#title {
  font-size: 3rem;
}

#title::placeholder {
  color: var(--hr-color);
}

/* Social posts */
input#social-posts,
input.social-network-toggle {
  display: inline;
  margin-right: 0.5em;
}

label[for='social-posts'],
label[for='social-posts'] h2,
label.social-network-toggle-label,
label.social-network-toggle-label h3 {
  display: inline;
}

.social-editors {
  display: flex;
  margin: 0 auto;
  padding: 0 5em;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

.social-editor-wrapper:not(:last-child) {
  margin-right: 1em;
}

.ce-social-post-delimiter {
  width: 100%;
  border-bottom: 1px dashed var(--hr-color);
  position: relative;
}

.ce-social-post-delimiter[data-character-count]:after {
  position: absolute;
  right: 0;
  top: 50%;
  z-index: 1;
  border: 1px solid var(--hr-color);
  content: attr(data-character-count);
  font-size: 0.7em;
  color: var(--timestamp-color);
  background-color: var(--bg-color);
  padding: 0 4px;
  line-height: 1em;
}

.ce-social-post-delimiter[data-limit-exceeded='true']:after {
  background-color: var(--over-character-limit-background-color);
}

.social-editor .image-tool__caption,
.social-editor .image-tool__alt {
  display: none;
}

#mastodon-tags {
  width: 100%;
}

/* Error */
.flex-column {
  flex-direction: column;
}

/* Footer */
footer.editor-footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: var(--note-background-color);
  padding: 1em;
  z-index: 1;
}

.footer-controls {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.footer-controls .left-group,
.footer-controls .right-group {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#last-edited {
  font-size: 0.8em;
  color: var(--timestamp-color);
  margin-left: 1em;
}

/* Loading spinner */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hidden {
  display: none;
}

.lds-ring {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid var(--accent-color-purple);
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: var(--accent-color-purple) transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* MentionsTool */
.cdx-mention {
  background-color: var(--note-background-color);
}

.cdx-mention::before {
  content: '@';
  color: var(--grayText);
  padding-right: 0.1em;
}

.cdx-mention-input {
  display: block;
}

/* Dark mode */
[data-theme='dark'] .image-tool--white .image-tool__image-picture {
  filter: invert(0.85);
}

@media (prefers-color-scheme: dark) {
  .image-tool--white .image-tool__image-picture {
    filter: invert(0.85);
  }
}
