@import './feed-shared.css';
@import './base.css';

.feed body {
  background-color: var(--feed-bg-color);
}

.feed .page-container {
  max-width: 60rem;
}

.feed .content-box {
  margin-left: 40px;
}

h1.site-title {
  margin-bottom: 1em;
}

.icon a,
a.social-link {
  background-image: none !important;
  text-decoration: none;
}

/* Entry ------------------------------------------------------------- */
.entry {
  width: 100%;
  padding: 0.5em 1em;
  background-color: var(--card-bg-color);
  box-shadow: var(--shadow-1);
}

.entry:not(:last-child) {
  margin-bottom: 40px;
}

.entry a {
  text-shadow:
    0 0.05em var(--card-bg-color),
    0.05em 0.05em var(--card-bg-color),
    -0.05em 0.05em var(--card-bg-color),
    0.1em 0.05em var(--card-bg-color),
    -0.1em 0.05em var(--card-bg-color),
    0.1em 0 var(--card-bg-color),
    -0.1em 0 var(--card-bg-color),
    0 -0.05em var(--card-bg-color),
    0 -0.075em var(--card-bg-color),
    -0.125em 0 var(--card-bg-color),
    0.125em 0 var(--card-bg-color);
}

/* Header ------------------------------------------------------------ */
.entry header {
  position: relative;
}

.entry header .description {
  font-size: 0.7em;
  color: var(--timestamp-color);
  font-style: italic;
}

.post-icon {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: -0.5em;
  left: -2.75em;
  width: 1.5em;
  height: 1.5em;
  padding: 4px;
  background-color: var(--card-bg-color);
  box-shadow: var(--shadow-1);
}

.post-icon a {
  line-height: 0;
}

.post-icon svg {
  width: 1em;
}

/* Content ------------------------------------------------------------ */
.entry .p-content > p {
  margin-top: 0;
}

.entry .p-content > .media-wrapper {
  margin-top: 1em;
}

/* Media */
.entry .p-content .media-wrapper {
  max-width: 40rem;
}

.entry .p-content .media-wrapper img,
.entry .p-content .media-wrapper video {
  display: block;
  width: 100%;
}

.entry .p-content .media-wrapper.full-width {
  max-width: 60rem;
}

.entry .p-content .media-wrapper.vertical {
  max-height: 40rem;
}

.entry .p-content .media-wrapper.bordered {
  border: 1px solid var(--image-border-color);
}

.entry .p-content .media-wrapper.backgrounded {
  background: var(--note-background-color);
  padding: 1em;
}

/* Footer ------------------------------------------------------------ */
.footer {
  font-size: 0.7em;
  border-top: 1px solid var(--hr-color);
  margin-top: 1em;
}

.footer .flex-row {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 0.5em;
}

.footer .post-meta {
  color: var(--timestamp-color);
}

.footer .post-meta a {
  background-image: var(--image-underline-grey);
}

.footer .post-meta a:hover {
  color: var(--timestamp-color-hover);
  background-image: var(--image-underline-hover-grey);
}

.edit-icon {
  width: 15px;
  height: 15px;
  background: none;
  margin-left: 0.2em;
}

/* Social links */
.footer .social-links {
  display: flex;
  position: relative;
  flex-shrink: 0;
  align-items: center;
}

.social-link {
  position: relative;
  top: 2px;
}

.social-link,
.social-link:hover {
  background: none;
}

.social-link svg {
  height: 14px;
}

.social-link:not(:first-child) {
  margin-left: 0.3em;
}

/* Tags */
.footer .tags {
  display: flex;
  flex-wrap: wrap;
  line-height: 1em;
}

.entry .tag {
  color: inherit;
  padding: 0.1em 0.2em;
  background-color: var(--tag-background-color);
  font-style: italic;
  background-image: none !important;
  text-shadow: none;
  margin-bottom: 0.5em;
}

.entry .tag::before {
  content: '#';
  margin-right: 0.1em;
}

.entry .tag:hover {
  color: var(--main-text-color);
  background-color: var(--button-color-hover);
  background-image: none;
}

.entry .tag:not(:last-child) {
  margin-right: 0.5em;
}

/* Dark mode */
@media (prefers-color-scheme: dark) {
  .entry .p-content .media-wrapper.invert-on-dark img {
    filter: invert(0.85);
  }

  .tag {
    color: var(--timestamp-color);
    background-color: transparent;
  }

  .tag:hover {
    color: var(--timestamp-color-hover);
    background-color: transparent;
  }
}

[data-theme='dark'] .tag {
  color: var(--timestamp-color);
  background-color: transparent;
}
[data-theme='dark'] .tag:hover {
  color: var(--timestamp-color-hover);
  background-color: transparent;
}
[data-theme='dark'] .entry .p-content .media-wrapper.invert-on-dark img {
  filter: invert(0.85);
}
