@charset "UTF-8";
.reading .content-box {
  max-width: 700px;
  max-width: 35rem;
  max-width: 70ch;
}
.reading p {
  margin-top: 0;
}
.reading h3,
.reading h4 {
  margin-bottom: 0.375rem;
}
.reading h3 a,
.reading h4 a {
  color: var(--main-text-color);
}
.reading h3 a:hover,
.reading h4 a:hover {
  color: var(--link-text-hover-color);
}
.reading label {
  display: block;
  font-weight: normal;
}
.reading .filters {
  margin: 1.25rem 0;
}
.reading .filter-box {
  border: 1px solid var(--table-border-color);
  padding: 0.625rem;
  position: relative;
  font-size: 1rem;
}
.reading .filter-box .title {
  padding: 0 0.375rem;
  background-color: var(--bg-color);
  position: absolute;
  top: -0.625rem;
  left: 0.375rem;
  font-weight: bold;
}
.reading .filter-box .button-group {
  display: inline-block;
  margin: 0 0.5rem 0.375rem 0;
}
.reading .filter-box button.tag {
  background-color: var(--accent-color-purple-background);
  padding: 3px;
  margin-right: 2px;
  border-radius: 2px;
  border: 0;
}
.reading .filter-box button.tag:active,
.reading .filter-box button.tag:focus,
.reading .filter-box button.tag:hover {
  cursor: pointer;
  background-color: var(--accent-color-purple-background-hover);
}
.reading .filter-box button[aria-pressed='true'] {
  background-color: var(--accent-color-purple-background-hover);
}
.reading fieldset {
  border: 0;
  padding: 0;
}
.reading .filter-box fieldset {
  border: 1px solid var(--table-border-color);
  padding: 0.5rem;
  max-height: 10rem;
  overflow-y: scroll;
}
.reading .filter-box .search-form {
  margin: 5px 0;
  max-width: 31.25rem;
}
.reading .filter-box .search-form .search-group {
  display: flex;
  justify-content: space-between;
}
.reading .filter-box .search-form input[type='search'] {
  color: var(--main-text-color);
  flex-grow: 1;
  margin-right: 5px;
  border-radius: 0;
  border: 1px solid var(--table-border-color);
  background-color: var(--bg-color);
}
.reading .filter-box .search-form button {
  background-color: var(--button-color);
  color: var(--main-text-color);
  border: 1px solid var(--table-border-color);
  border-radius: 0;
}
.reading .filter-box .search-form button[type='submit']:hover {
  background-color: var(--button-color-hover);
  cursor: pointer;
}
.reading .filter-subtext {
  display: flex;
  justify-content: space-between;
  font-size: 1rem;
  font-style: italic;
  margin-top: 5px;
}
.reading button.link-styled {
  background-color: transparent;
  border: none;
  color: var(--main-text-color);
  text-decoration: underline;
  padding: 0 0.375rem;
  font-weight: normal;
  font-style: italic;
}
.reading button.link-styled:hover,
.reading button.link-styled:focus,
.reading button.link-styled:active {
  cursor: pointer;
  background-color: var(--accent-color-purple-background);
}
.reading .article {
  padding-left: 0.625rem;
  border-left: 2px solid var(--accent-color-purple);
  margin-bottom: 1.25rem;
}
.reading .article.flex {
  display: flex;
}
.reading .article.flex .left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
}
.reading .article.flex .right {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  width: 9.5rem;
  margin-left: 1.25rem;
}
.reading .article.flex .right .image {
  max-width: 10rem;
  max-height: 10rem;
}
.reading .article.flex .right .image img {
  max-width: 100%;
  max-height: 100%;
}
.reading .article.flex .right .caption {
  font-size: 1rem;
  text-align: right;
}
.reading .article .tags,
.book .tags {
  font-size: 0.9rem;
  font-style: italic;
  color: var(--note-text-color);
}
.reading .article.hidden,
.book.hidden {
  display: none;
}
.reading blockquote {
  font-size: 1rem;
  font-style: italic;
  margin-left: 1.25rem;
}
.reading blockquote:before {
  color: var(--blockquote-quote-color);
  content: '“';
  font-size: 3rem;
  line-height: 0.1rem;
  margin-right: 0.25rem;
  vertical-align: -0.4rem;
}
.book .subtitle {
  font-size: 1rem;
}
.reading #articlesContainer > .book {
  margin-bottom: 1.25rem;
}
.book {
  display: flex;
}
.book a.book-cover-link {
  background: none;
}
.book .book-cover {
  max-width: 10rem;
  margin-right: 1.25rem;
}
.book .book-cover.bordered {
  border: 1px solid var(--table-border-color);
}
.book a:focus {
  background-color: transparent;
}
.book .byline,
.book .reading-info {
  font-size: 1.1rem;
}
.reading:not(.landing) .book .reading-info {
  margin-top: 1rem;
}
.book .book-info,
.book .series-info {
  font-size: 0.9rem;
}
.book .book-info {
  line-height: 1.25rem;
}
.book .series-info {
  line-height: 1rem;
}
.book .reading-dates {
  display: inline-block;
}
.reading .status {
  display: inline-block;
  padding: 0 0.375rem;
  margin-right: 0.375rem;
  font-size: 1rem;
  background-color: var(--note-background-color);
}
.reading #paginator button {
  background-color: transparent;
  font-size: 1rem;
  color: var(--main-text-color);
  border: none;
}
.reading #paginator button:hover,
.reading #paginator button:focus,
.reading #paginator button:active,
.reading #paginator button[aria-pressed] {
  cursor: pointer;
  background-color: var(--accent-color-purple-background-hover);
}
.reading .summary {
  padding-left: 0.625rem;
}
.reading .read-date {
  font-style: italic;
}
.reading .reading-section {
  margin-bottom: 2.5rem;
}
.reading .reading-section .reading-section-body {
  margin-left: 1.25rem;
}
.reading .reading-section .currently-reading {
  margin-top: 1.25rem;
}
.reading .reading-section .currently-reading .status {
  font-size: 1rem;
}
.reading .reading-section .currently-reading .others {
  font-size: 1rem;
  font-style: italic;
}
.reading .reading-section .book {
  margin-top: 0.625rem;
}
.reading .reading-section .book-cover {
  max-width: 6.25rem;
}
.reading .details,
.reading .related-reading {
  padding-left: 0.625rem;
}
.reading .details,
.reading .related-reading,
.reading .target-articles,
.reading .date-block {
  font-size: 1rem;
  line-height: 1.5;
}
.reading .related-reading {
  margin-top: 0.375rem;
}
.reading .related-reading ul,
.reading .target-articles ul {
  display: inline;
  padding: 0;
}
.reading .rss-link {
  display: flex;
  align-items: center;
  font-size: 1rem;
}
.reading .rss-link .rss-icon {
  max-height: 0.9rem;
  margin-right: 0.375rem;
}
.reading i.fa-wikipedia-w {
  margin-right: 0.375rem;
}
@media screen and (max-width: 600px) {
  .reading .details,
  .reading .related-reading {
    padding-left: 0;
  }
  .reading .reading-section .reading-section-body {
    margin-left: 0;
  }
}

.reading. .checkboxes-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.reading .checkboxes-wrapper .checkboxes {
  display: flex;
}
.reading .checkboxes-wrapper .checkboxes .checkbox-group {
  display: flex;
  align-items: center;
  margin-right: 0.375rem;
}
.reading .checkboxes-wrapper .checkboxes .checkbox-group input {
  margin-right: 0.375rem;
}
.reading .checkboxes-wrapper .checkboxes .checkbox-group label {
  display: inline;
}
