extends ../../templates/base.pug

block vars
  - var htmlClass = 'feed';
  - var importPrefix = 'https://www.mollywhite.net'

block head
  include ../../templates/titleAndDescription.pug
  +titleAndDescription('Feed', "Molly White's activity feed")
  link(rel="alternate", type="application/rss+xml", title="Molly White's activity feed", href="https://mollywhite.net/feed/feed.xml")
  link(rel='stylesheet', href="/static/feed.css")

block body
  main.content-box.h-feed.hfeed
    if options.tagQuery
      h1.p-name.site-title Activity tagged "#{options.tag ? options.tag.text : options.tagQuery}"
    else
      h1.p-name.site-title Activity

    if options.hasResults === false
      p No results found. 
        a(href="/feed") View all activity
    else
      include ../../mixins/feed/feedEntry.pug
      each entry in entries
        +feedEntry(entry, options)
  
      include ../../includes/paginator.pug
  
  script(src="/static/feed.js")