extends ../../templates/base.pug

block vars
  - var htmlClass = 'feed';
  - var importPrefix = 'https://www.mollywhite.net'

block head
  include ../../templates/titleAndDescription.pug
  +titleAndDescription('Feed', "Molly White's activity feed")
  link(rel='stylesheet', href="/static/feed.css")

block body
  main.content-box.h-feed.hfeed
    if options.tag
      h1.p-name.site-title Activity tagged "#{options.tag}"
    else
      h1.p-name.site-title Activity

    include ../../mixins/feed/microEntry.pug
    include ../../mixins/feed/citationNeededEntry.pug
    include ../../mixins/feed/readingEntry.pug
    each entry in entries
      case entry.entryType
        when "micro"
          +microEntry(entry.micro, options)
        when "citationNeeded"
          +citationNeededEntry(entry)
        when "readingShortform"
          +readingEntry(entry, entry.shortform)
        when "readingBlockchain"
          +readingEntry(entry, entry.blockchain)