extends ../../templates/base.pug

block vars
  - var htmlClass = 'feed';
  - var importPrefix = 'https://www.mollywhite.net'

block head
  include ../../templates/titleAndDescription.pug
  +titleAndDescription('Feed', "Molly White's activity feed")
  link(rel='stylesheet', href="/static/feed.css")

block body
  main.content-box.h-feed.hfeed
    if options.tagQuery
      h1.p-name.site-title Activity tagged "#{options.tag ? options.tag.text : options.tagQuery}"
    else
      h1.p-name.site-title Activity

    if options.hasResults === false
      p No results found. 
        a(href="/feed") View all activity
    include ../../mixins/feed/microEntry.pug
    include ../../mixins/feed/citationNeededEntry.pug
    include ../../mixins/feed/readingEntry.pug
    each entry in entries
      case entry.entryType
        when "micro"
          +microEntry(entry.micro, options)
        when "citationNeeded"
          +citationNeededEntry(entry, options)
        when "readingShortform"
          +readingEntry(entry, entry.shortform, options)
        when "readingBlockchain"
          +readingEntry(entry, entry.blockchain, options)