if totalPages
  label(for="paginator") Page
    fieldset#paginator
      - for (var pageNumber = 1; pageNumber <= totalPages; pageNumber++)
        button(
          onClick='onPageChangeClick(' + pageNumber + ')',
          aria-pressed=pageNumber === currentPage
          type="button"
        ) #{pageNumber}