{
  "plugins": [
    [
      "prismjs",
      {
        "languages": [
          "javascript",
          "css",
          "markup",
          "python",
          "nginx"
        ],
        "plugins": [
          "line-numbers"
        ],
        "css": false
      }
    ]
  ]
}