extends ../../templates/base.pug

block vars
  - var htmlClass = 'micro';
  - var importPrefix = 'https://www.mollywhite.net'

block head
  include ../../templates/titleAndDescription.pug
  +titleAndDescription(entry.title, entry.plainText || "Entry in Molly White's microblog")
  link(rel='stylesheet', href="/static/feed.css")

block body
  main
    .content-box
      .entries
        #entryContainer.standalone
          include ../../mixins/feed/microEntry.pug
          +microEntry(entry, {isInFeed: false})
      .back-links
        div
          a(href="/feed") &laquo; Back to the activity feed
        div
          a(href="/micro") &laquo; Back to the microblog feed

      .webmention-submit
        | Have you responded to this post on your own site? Send a #[a(href="https://indieweb.org/Webmention") webmention]!
        | Note: Webmentions are moderated for anti-spam purposes, so they will not appear immediately.
        .submit-box
          input#webmention-manual(type="text", placeholder=`https://your-site.com/posts/response-to-${entry.slug}`, name="source", required)
          button#webmention-manual-submit Send
        #submit-error.hidden
        #submit-success.hidden


  script(src="/static/feed.js")