extends ../../templates/base.pug

block vars
  - var htmlClass = 'feed';
  - var importPrefix = 'https://www.mollywhite.net'

block head
  include ../../templates/titleAndDescription.pug
  +titleAndDescription('Micro feed', "Feed of Molly White's microblog posts")
  link(rel="alternate", type="application/rss+xml", title="Molly White's microblog feed", href="https://www.mollywhite.net/micro/feed.xml")
  link(rel='stylesheet', href="/static/feed.css")

block body
  main.content-box.h-feed.hfeed
    if options.tagQuery
      hi.p-name.site-title Thoughts tagged "#{options.tag ? options.tag.text : options.tagQuery}"
    else
      h1.p-name.site-title Thoughts
    
    if options.hasResults === false
      p No results found. 
        a(href="/micro") View all thoughts
    include ../../mixins/feed/microEntry.pug
    each entry in entries
      +microEntry(entry, options)

    include ../../includes/paginator.pug

  script(src="/static/feed.js")