extends ../../templates/base.pug

block vars
  - var htmlClass = 'feed';
  - var importPrefix = 'https://www.mollywhite.net'

block head
  include ../../templates/titleAndDescription.pug
  +titleAndDescription('Micro feed', "Feed of Molly White's microblog posts")
  link(rel='stylesheet', href="/static/feed.css")

block body
  main.content-box.h-feed
    if options.tag
      h1.p-name.site-title Thoughts tagged "#{options.tag}"
    else
      h1.p-name.site-title Thoughts
    include ../../mixins/feed/microEntry.pug
    each entry in entries
      +microEntry(entry, options)
