extends ../symlinks/templates/base.pug

block vars
  - var htmlClass = 'reading';
  - var importPrefix = 'https://www.mollywhite.net'
  - var showTagCount = true 

block head
  link(rel="stylesheet", href=`${importPrefix}/css/reading.css`)

block body
  .content-box
    p
      | In the beginning of February, I made a commitment to myself to read at least two articles a 
      | week pertaining to diversity, inclusion, and belonging (DI&amp;B). In the context of my 
      | work, I believe constant learning on these topics, and their intersection with the
      | technology industry, is not optional. It is key to being both a good manager and 
      | team member, but also to being a conscientous participant in the industry. Beyond work,
      | I believe we all need to educate ourselves about these topics so that we  more effectively
      | fight for a more equitable world.
    p
      | I have been maintaining a private list of these articles, along with a brief summary, but 
      | realized it might be useful to others to publish my list somewhere.
    p
      | I care very much about making sure I am consuming a representative and wide range of 
      | topics in this area, and so welcome suggestions and recommendations! If you know of
      | anything I ought to be reading, please 
      a(href="/contact") send it my way
      | .

    h3(aria-sort=query.order === 'reverse' ? 'descending' : 'ascending') DI&amp;B reading list

    include ../includes/filters.pug

    .articles
      #articlesContainer
        include ../mixins/dibArticle.pug
        each article in results
          +dibArticle(article)

    include ../includes/paginator.pug

block pre-javascript
  script(
    src="/static/url-search-params-polyfill.js"
  )
  script(
    src="/static/classlist-polyfill.js"
  )
block post-javascript
  script(src="/static/reading.js")
