extends ../templates/base.pug

block vars
  - var htmlClass = 'reading';
  - var page = 'pleasure';
  - var importPrefix = 'https://www.mollywhite.net'
  - var showTagCount = true
  - var showStatusFilter = true

block head
  include ../templates/titleAndDescription.pug
  +titleAndDescription('Fiction reading', 'Molly White\'s fiction reading list.')

block body
  .content-box
    a(href="/reading") < All reading lists
    h3(aria-sort=query.order === 'reverse' ? 'ascending' : 'descending') Fiction reading

    include ../includes/filters.pug

    .articles
      #articlesContainer
        include ../mixins/book.pug
        each book in results
          +book(book)


    include ../includes/paginator.pug

block post-javascript
  script(src="/static/reading.js")
