extends ../symlinks/templates/base.pug

block vars
  - var htmlClass = 'reading';
  - var importPrefix = 'https://www.mollywhite.net'
  - var showTagCount = true

block head
  include ../symlinks/mixins/titleAndDescription.pug
  +titleAndDescription('Press', 'Press mentions and interviews with Molly White.')
  link(rel="stylesheet", href=`${importPrefix}/css/reading.css`)

block body
  .content-box
    p | I sometimes speak about topics including technology, Wikipedia, disinformation, diversity, and 
      | online harassment. If you are a journalist hoping to speak with me, feel free to 
      a(href="contact") contact me 
      | . I generally prefer to communicate via email rather than voice or video.

    h3(aria-sort=query.order === 'reverse' ? 'ascending' : 'descending') Press and other mentions

    include ../includes/filters.pug

    .articles
      #articlesContainer
        include ../mixins/pressArticle.pug
        each article in results
          +pressArticle(article)

    include ../includes/paginator.pug

block pre-javascript
  script(
    src="/static/url-search-params-polyfill.js"
  )
  script(
    src="/static/classlist-polyfill.js"
  )
block post-javascript
  script(src="/static/reading.js")
