extends ../templates/base.pug

block vars
  - var htmlClass = 'reading';
  - var importPrefix = 'https://www.mollywhite.net'
  - var showTagCount = true

block head
  include ../templates/titleAndDescription.pug
  +titleAndDescription('Press coverage of my projects', 'Press mentions of projects by Molly White.')

block body
  .content-box
    p 
      | Some of the  
      a(href="/projects") projects
      |  I've built have been mentioned in the press.
    p
      | See my  
      a(href="/press") general press page 
      |  for media mentions of me or my writing, or interviews with me personally.

    h3(aria-sort=query.order === 'reverse' ? 'ascending' : 'descending') Press coverage of my projects

    include ../includes/filters.pug

    .articles
      #articlesContainer
        include ../mixins/pressArticle.pug
        each article in results
          +pressArticle(article)

    include ../includes/paginator.pug

block post-javascript
  script(src="/static/reading.js")
