extends ../symlinks/templates/base.pug

block vars
  - var htmlClass = 'reading';
  - var page = 'reading';
  - var importPrefix = 'https://www.mollywhite.net'
  - var showTagCount = true

block head
  link(rel="stylesheet", href=`${importPrefix}/css/reading.css`)
  include ../symlinks/mixins/titleAndDescription.pug
  +titleAndDescription('Reading', 'Interested in what I\'m reading these days? Check out my reading lists.')
  link(rel="stylesheet", href=`${importPrefix}/css/reading.css`)

block body
  .content-box
    p Interested in what I'm reading these days? Check out my reading lists.

    .reading-section
      h3
        a(href="/reading/shortform") Shortform reading list 
      .reading-section-body  
        include ../mixins/currentlyReadingArticleSummary.pug
        +currentlyReadingArticleSummary(mostRecentShortform)
        
    
    .reading-section
      h3
        a(href="/reading/blockchain") Blockchain reading list 
      .reading-section-body  
        +currentlyReadingArticleSummary(mostRecentBlockchain)
          
    .reading-section
      h3
        a(href="/reading/pleasure") Pleasure
      .reading-section-body  
        include ../mixins/currentlyReadingSummary.pug
        +currentlyReadingSummary(currentlyReadingPleasure)
        
    .reading-section
      h3
        a(href="/reading/reference") Reference 
      .reading-section-body  
        | Books I'm reading for reference purposes. Most of my reference reading is related to Wikipedia articles I'm
        | working on, but I also include educational but non-work-related reading in this list.
        include ../mixins/currentlyReadingSummary.pug
        +currentlyReadingSummary(currentlyReadingReference)
        
    .reading-section
      h3
        a(href="/reading/work") Work-related
      .reading-section-body  
        include ../mixins/currentlyReadingSummary.pug
        +currentlyReadingSummary(currentlyReadingWork)
        