extends ../templates/base.pug

block vars
  - var htmlClass = 'reading landing';
  - var page = 'reading';
  - var importPrefix = 'https://www.mollywhite.net'
  - var showTagCount = true

block head
  include ../templates/titleAndDescription.pug
  link(rel='stylesheet', href="/static/reading.css")
  +titleAndDescription('Reading', 'Interested in what I\'m reading these days? Check out my reading lists.', '/reading')

block body
  main
    .content-box
      p Interested in what I'm reading these days? Check out my reading lists. I also have a #[a(href="/blogroll") blogroll] of sites I read regularly.

      .reading-section
        h3
          a(href="/reading/shortform") Shortform reading list 
        div.rss-link
          img.rss-icon.bw-icon(src="https://www.mollywhite.net/storage/rss.svg")
          a(href="https://www.mollywhite.net/reading/shortform/feed.xml", target="_blank") RSS 
        .reading-section-body  
          include ../mixins/currentlyReadingArticleSummary.pug
          +currentlyReadingArticleSummary(mostRecentShortform)

      .reading-section
        h3
          a(href="/reading/fiction") Books 
        .reading-section-body  
          include ../mixins/currentlyReadingSummary.pug
          +currentlyReadingSummary(currentlyReadingBooks)