extends ../templates/base.pug

block vars
  - var htmlClass = 'reading';
  - var page = 'reference';
  - var importPrefix = 'https://www.mollywhite.net';
  - var showTagCount = true;
  - var showStatusFilter = true;

block head
  include ../templates/titleAndDescription.pug
  +titleAndDescription('Non-fiction reading', 'Molly White\'s non-fiction reading list.')

block body
  main
    .content-box
      a(href="/reading") < All reading lists
      h3(aria-sort=query.order === 'reverse' ? 'ascending' : 'descending') Non-fiction reading

      include ../includes/filters.pug

      .articles
        #articlesContainer
          include ../mixins/book.pug
          each book in results
            +book(book)

      include ../includes/paginator.pug

block post-javascript
  script(src="/static/reading.js")
