extends ../templates/base.pug

block vars
  - var htmlClass = 'wikipedia-writing';
  - var page = 'wikipedia-writing';
  - var importPrefix = 'https://www.mollywhite.net'
  - var showTagCount = true

block head
  include ../templates/titleAndDescription.pug
  link(rel='stylesheet', href="/static/reading.css")
  +titleAndDescription('Wikipedia writing', 'My content contributions to Wikipedia')

block body
  main
    .content-box.h-feed.hfeed
      p If you are looking to get in touch with me regarding something Wikipedia-related, see my 
        a(href="/wikipedia-contact") Wikipedia contact
        |  information. For conversations I've had with media organizations about Wikipedia, see the 
        a(href="/press?tags=wikipedia") "Wikipedia" tag at my press page
        | .

      h2.p-name.site-title An incomplete list of my content contributions to Wikipedia

      include ../includes/wikipedia-filters.pug

      .articles 
        #articlesContainer 
          include ../mixins/wikipediaArticle.pug
          each article in results
            +wikipediaArticle(article)
            
      include ../includes/paginator.pug

block post-javascript
  script(src="/static/reading.js")
