- var shortForm = true
mixin currentlyReadingSummary(books)
  if books.length
    .currently-reading
      if books[0].status === 'read' || books[0].status === 'reference' 
        span I most recently read:
      else if books[0].status === 'currentlyReading'
        span I'm currently reading:
        
      include ./book.pug
      +book(books[0])
      if books[0].status === 'currentlyReading'
        if books.length === 2
          span.others ... and one other book.
        else if books.length > 2
          span.others ... and #{books.length - 1} other books.
  else 
    div I haven't recently read any books.
