- var shortForm = true
mixin currentlyReadingSummary(books)
  if books.length
    .currently-reading
      .status
        b
          != READING_STATUSES_MAP[books[0].status][0].toUpperCase() + READING_STATUSES_MAP[books[0].status].substr(1)
          
        
      include ./book.pug
      +book(books[0])
      if books[0].status !== 'read'
        if books.length === 2
          span.others ... and one other book.
        else if books.length > 2
          span.others ... and #{books.length - 1} other books.
  else 
    div I haven't recently started reading any books related to Wikipedia articles I'm writing.
