- var shortForm = true
mixin currentlyReadingSummary(books)
  if books.length
    .currently-reading
      b
        case books[0].status
          when 'currentlyReading'
            | Currently reading 
          when 'read'
            | Recently read 
          when 'toRead'
            | To read
        
      include ./book.pug
      +book(books[0])
      if books[0].status !== 'read'
        if books.length === 2
          span.others ... and one other book.
        else if books.length > 2
          span.others ... and #{books.length - 1} other books.
