mixin icon(name)
  case name
    when 'twitter'
      include ../../icons/twitter.svg
    when 'mastodon'
      include ../../icons/mastodon.svg
    when 'bluesky'
      include ../../icons/bluesky.svg
    when 'tiktok'
      include ../../icons/tiktok.svg
    when 'youtube'
      include ../../icons/youtube.svg
    when 'tv'
      include ../../icons/tv.svg
    when 'newspaper'
      include ../../icons/newspaper.svg
    when 'headphones'
      include ../../icons/headphones.svg