mixin socialIcon(network)
  case network
    when 'twitter'
      include ../../icons/twitter.svg
    when 'mastodon'
      include ../../icons/mastodon.svg
    when 'bluesky'
      include ../../icons/bluesky.svg
    when 'tiktok'
      include ../../icons/tiktok.svg
    when 'youtube'
      include ../../icons/youtube.svg